<!DOCTYPE html>
<html lang="en">

<head>
    <title>HomePage</title>
</head>

<body>

    <form id="qpForm" action="/questionPaper" method="GET">
        <button type="submit">Question Paper</button>
    </form>

    <br> <br>

    <form id="syllabusForm" action="/syllabus" method="GET">
        <button type="submit">Syllabus</button>
    </form>

    <br><br>

    <form id="notesForm" action="/notes" method="GET">
        <button type="submit">Notes</button>
    </form>

</body>

</html>